.container2 {max-width: 2000px;}
.tour_title {
    font-family: 'Noto Sans','¸¼Àº °íµñ','Malgun Gothic',Arial,Helvetica,sans-serif,Lucida,Grande,'Microsoft YaHei','Hiragino Sans GB',SimSun,Meiryo;
    color: #009a45 !important;
    margin-left:5%;
}

.tour_info .tour_name{
	font-family: 'Noto Sans','¸¼Àº °íµñ';
	font-size: 30px;
}
.tour_info{
	width: 80%;
	margin-left:10%;
	border-collapse: separate;
    border-spacing: 0 30px;
}
.tour_info .tour_detail{
	margin-top: 100px;
}
.tour_info .timg{
	width : 300px; 
}
.tour_info .tour_name .tour_addr{
	font-size: 15px;
}
.pageBtn{
	margin-left:43%; 
}
.pageBtn a{
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
	align-content: center;
}
.pageBtn b{
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
	align-content: center;
}
.tour_detail{
	width : 100%;
	height: 100%;
	margin-top: 15%;
}
.tour_detail .tour_info_tr2:nth-child(2){
	width : 50%;
}


