<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- Alias 설정 -->
 	<typeAliases>
 		<typeAlias alias="authorities" type="com.vo.AuthoritiesVO" />
 		<typeAlias alias="buy" type="com.vo.BuyVO" />
 		<typeAlias alias="category" type="com.vo.CategoryVO" />
 		<typeAlias alias="issue" type="com.vo.IssueVO" />
 		<typeAlias alias="log" type="com.vo.LogVO" />
 		<typeAlias alias="market" type="com.vo.MarketVO" />
 		<typeAlias alias="notice" type="com.vo.NoticeVO" />
 		<typeAlias alias="product" type="com.vo.ProductVO" />
 		<typeAlias alias="qna" type="com.vo.QnaVO" />
 		<typeAlias alias="review" type="com.vo.ReviewVO" />
 		<typeAlias alias="tour" type="com.vo.TourVO" />
 		<typeAlias alias="unit" type="com.vo.UnitVO" />
 		<typeAlias alias="users" type="com.vo.UsersVO" />
 	</typeAliases>
 	


</configuration>
