<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<select id="selectmember" resultType="users">
		select
		nvl(username,'입력정보없음') as userName,nvl(mname,'입력정보없음') as
		mName,nvl(mtel,'입력정보없음') as mTel,nvl(maddr,'입력정보없음') as
		addr,nvl(TO_CHAR(mbirth, 'YYYY"년"MM"월"DD"일"'),'입력정보없음') as mBirth
		,nvl(memail,'입력정보없음') as mEmail from users where delyn='N'
	</select>


	<select id="searchmember" parameterType="string"
		resultType="users">
		select nvl(username,'입력정보없음') as
		userName,nvl(mname,'입력정보없음') as mName,nvl(mtel,'입력정보없음') as
		mTel,nvl(maddr,'입력정보없음') as addr,nvl(TO_CHAR(mbirth,
		'YYYY"년"MM"월"DD"일"'),'입력정보없음') as mBirth ,nvl(memail,'입력정보없음') as
		mEmail from users
		where username like '%'||#{keyword}||'%' or mname
		like '%'||#{keyword}||'%' and delyn='N'
	</select>

	<select id="marketsearch" resultType="users">
		select
		nvl(u.username,'입력정보없음') as
		userName,nvl(u.mname,'입력정보없음') as mName,
		nvl(u.mtel,'입력정보없음') as
		mTel,nvl(u.maddr,'입력정보없음') as addr,
		nvl(TO_CHAR(u.mbirth,'YYYY"년"MM"월"DD"일"'),'입력정보없음') as mBirth ,
		nvl(u.memail,'입력정보없음') as mEmail
		from users u , authorities a
		where
		u.username = a.username and a.authority='ROLE_MARKET' and u.delyn='N'
	</select>

	<select id="sellersearch" resultType="users">
		select
		nvl(u.username,'입력정보없음') as
		userName,nvl(u.mname,'입력정보없음') as mName,
		nvl(u.mtel,'입력정보없음') as
		mTel,nvl(u.maddr,'입력정보없음') as addr,
		nvl(TO_CHAR(u.mbirth,'YYYY"년"MM"월"DD"일"'),'입력정보없음') as mBirth ,
		nvl(u.memail,'입력정보없음') as mEmail
		from users u , authorities a
		where
		u.username = a.username and a.authority='ROLE_SELLER' and u.delyn='N'
	</select>

	<select id="usersearch" resultType="users">
		select
		nvl(u.username,'입력정보없음') as
		userName,nvl(u.mname,'입력정보없음') as mName,
		nvl(u.mtel,'입력정보없음') as
		mTel,nvl(u.maddr,'입력정보없음') as addr,
		nvl(TO_CHAR(u.mbirth,'YYYY"년"MM"월"DD"일"'),'입력정보없음') as mBirth ,
		nvl(u.memail,'입력정보없음') as mEmail
		from users u , authorities a
		where
		u.username = a.username and a.authority='ROLE_USER' and u.delyn='N'
	</select>


	<select id="getauth" parameterType="string" resultType="Object">
		select
		authority
		from authorities
		where username = #{userName}
	</select>

	<select id="userinfoget" parameterType="string"
		resultType="users">
		select * from users where username=#{userName}
	</select>


	<update id="updateuser" parameterType="users">
		UPDATE users SET
		password=#{Password},mname=#{mName},maddr=#{addr},mtel=#{mTel},memail=#{mEmail}
		WHERE username=#{userName}
	</update>
	
	<update id="deleteuser" parameterType="users">
		UPDATE users SET
		delyn='Y'
		WHERE username=#{userName}
	</update>
	
	
	<select id="marketinfoget" parameterType="string"
		resultType="hashmap">
		select u.*,m.mkname from users u,market m 
		where u.username=#{userName} and u.username=m.username
	</select>
	
	<update id="updatemarket" parameterType="updatemarket">
		UPDATE users SET
		password=#{Password},mname=#{mName},maddr=#{mAddr},mtel=#{mTel},memail=#{mEmail}
		WHERE username=#{userName}
	</update>
	<update id="updatemkname" parameterType="updatemarket">
		UPDATE market SET
		mkname=#{mkName}
		WHERE username=#{userName}
	</update>
	
	<update id="deletemarket" parameterType="users">
		UPDATE users SET
		delyn='Y'
		WHERE username=#{userName}
	</update>
	<update id="deletemkuser" parameterType="updatemarket">
		UPDATE market SET
		username=''
		WHERE username=#{userName}
	</update>
	
	
	
	
	<select id="sellerinfoget" parameterType="string"
		resultType="hashmap">
		select u.*,s.sname from users u,store s 
		where u.username=#{userName} and u.username=s.username 
	</select>
	<update id="updateseller" parameterType="updatestore">
		UPDATE users SET
		password=#{Password},mname=#{mName},maddr=#{mAddr},mtel=#{mTel},memail=#{mEmail}
		WHERE username=#{userName}
	</update>
	<update id="updatesname" parameterType="updatestore">
		UPDATE store SET
		sname=#{sName}
		WHERE username=#{userName}
	</update>
	
	<update id="deleteseller" parameterType="users">
		UPDATE users SET
		delyn='Y'
		WHERE username=#{userName}
	</update>
	<update id="deletestuser" parameterType="updatestore">
		UPDATE store SET
		username=''
		WHERE username=#{userName}
	</update>
	
</mapper>
