<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketDAO">

  	 <!-- 초기화면에 시장리스트 셀렉박스 조회 -->
	<select id="market" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where delyn='N' order by mkName
      	]]>     
  	</select>

  	 <!-- 시장이름이 같은  mkid 조회 -->  	
  	<select id="marketHome" parameterType="market" resultType="market">
      	<![CDATA[
      	SELECT mkid FROM market where mkname=#{mkName} and delyn='N' 
      	]]>     
  	</select>  
  	
  	 <!-- 시장소개 화면 정보 가져오기-->
  	<select id="introMarket" parameterType="market" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where mkid=#{mkId} and delyn='N' 
      	]]>     
  	</select>	
  	
  	 <!-- 이슈 리스트 갯수 -->
	<select id="getTotalCount" parameterType="issue" resultType="int">
		<![CDATA[
		SELECT COUNT(*) AS TOTALCOUNT FROM issue where mkid=#{mkId} and delyn='N' 
		]]>  
	</select>
	
	<!-- 이슈 리스트 페이징 -->
	<select id="marketIssue" parameterType="hashmap"  resultType="issue">
		<![CDATA[
			SELECT issue.*
     		 FROM (select rownum rm, issue.* from issue where mkid=#{mkId} and delyn='N') issue
     		 where rm between ${first} and ${end} order by isdate desc
     		  
		]]>    
	</select>

	<!-- 이슈 등록 -->
	<insert id="saveIssue" parameterType="issue" >
		<![CDATA[
		INSERT INTO issue(ISID, USERNAME, ISTITLE, ISCONTENT, ISDATE,  ISIMG, DELYN, MKID, ISSTORY)
		VALUES(SEQ_ISID.nextval, #{userName}, #{isTitle}, #{isContent}, sysdate, #{isImg}, 'N',#{mkId}, #{isStory})
		]]>
	</insert>
	
	<!-- 이슈 삭제 delyn을 n->y로  -->
	<update id="deleteIssue" parameterType="issue" >
	<![CDATA[
		UPDATE ISSUE 
		SET DELYN='Y'
		WHERE ISID=#{isId}
		]]>
	</update>
	
	<!-- 시장 등록 -->
	<insert id="saveMarket" parameterType="market" >
		<![CDATA[
		INSERT INTO market(MKID, MKNAME, MKOWNER, MKADDR, MKTEL, MKDATE, MKCOUNT, MKINTRO, MKIMG1, MKIMG2, DELYN, MKLOCAL, MKLONG, MKLAT, MKTIME, MKJIDO, USERNAME)
		VALUES(SEQ_MKID.nextval, #{mkName}, #{mkOwner}, #{mkAddr}, #{mkTel}, sysdate,#{mkCount}, #{mkIntro},#{mkImg1},#{mkImg2},'N',#{mkLocal}, #{mkLong}, #{mkLat}, to_date(#{mkTime},'yyyy-mm-dd'), #{mkJido}, #{userName})
		]]>
	</insert>
	
	 <!-- 시장페이지에서 시장정보 조회 -->
	<select id="marketDetail" parameterType="int" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where mkid=#{mkId} and delyn='N'
      	]]>     
  	</select>
  	
  	 <!-- 시장페이지에서 시장정보 수정 -->
	<update id="updateMarket" parameterType="market" >
      	<![CDATA[
      	UPDATE market
      	SET mkname=#{mkName}, mkowner=#{mkOwner}, mkaddr=#{mkAddr}, mktel=#{mkTel}, mkcount=#{mkCount}, mkimg1=#{mkImg1},mkimg2=#{mkImg2},mkjido=#{mkJido},mklocal=#{mkLocal},mklat=#{mkLat},mklong=#{mkLong},mkdate=#{mkDate},mkintro=#{mkIntro}      	
      	where mkid=#{mkId} and delyn='N'
      	]]>     
  	</update>
  	
  	<update id="deleteMarket" parameterType="market" >
      	<![CDATA[
      	UPDATE market
      	SET delyn='Y'
      	where mkid=#{mkId} 
      	]]>     
  	</update>

	<!-- 	시장 id로 시장 이름 찾기 -->
	<select id="selectMkName" parameterType="int" resultType="market">
	select * from market where mkId=#{mkId}
	</select>
	
	
	<!-- 홈화면 공지/이슈/qna 가져오기 -->
	<select id="selectnotice" parameterType="notice" resultType="notice">
	<![CDATA[
		select ntitle from notice where rownum <= 5 and mkid=#{mkId} and delyn='N'
		]]>  
	</select>
	 
	<select id="selectissue" parameterType="issue" resultType="issue">
	<![CDATA[
		select istitle from issue where rownum <= 5 and mkid=#{mkId} and delyn='N'
		]]>  
	</select>
	
	<select id="selectqna" parameterType="qna" resultType="qna">
	<![CDATA[ 
		select qtitle from qna where rownum <= 5 and mkid=#{mkId} and delyn='N'
		]]>  
	</select>
	
</mapper>