<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketDAO">

	<select id="market" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where delyn='N'
      	]]>     
  	</select>
  	
  	<select id="marketHome" parameterType="market" resultType="market">
      	<![CDATA[
      	SELECT mkid FROM market where mkname=#{mkName} and delyn='N'
      	]]>     
  	</select>  
  	
  	<select id="introMarket" parameterType="market" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where mkid=#{mkId} and delyn='N' 
      	]]>     
  	</select>
  	
	
  	
  	 <!-- 이슈 리스트 갯수 -->
	<select id="getTotalCount" parameterType="issue" resultType="int">
		<![CDATA[
		SELECT COUNT(*) AS TOTALCOUNT FROM issue where mkid=#{mkId} and delyn='N' 
		]]>  
	</select>
	
	<!-- 이슈 리스트 페이징 -->
	<select id="marketIssue" parameterType="hashmap"  resultType="issue">
		<![CDATA[
			SELECT issue.*
     		 FROM (select rownum rm, issue.* from issue where mkid=#{mkId} and delyn='N') issue
     		 where rm between ${first} and ${end}
     		  
		]]>    
	</select>
	
	<insert id="saveIssue" parameterType="issue" >
		<![CDATA[
		INSERT INTO issue(ISID, USERNAME, ISTITLE, ISCONTENT, ISDATE,  ISIMG, DELYN, MKID, ISSTORY)
		VALUES(SEQ_ISID.nextval, #{userName}, #{isTitle}, #{isContent}, sysdate, #{isImg}, 'N',#{mkId}, #{isStory})
		]]>
</insert>
	
</mapper>