<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketDAO">

	<select id="market" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where delyn='N'
      	]]>     
  	</select>
  	
  	<select id="marketHome" parameterType="market" resultType="market">
      	<![CDATA[
      	SELECT mkid FROM market where mkname=#{mkName} and delyn='N'
      	]]>     
  	</select>  
  	
  	<select id="introMarket" parameterType="market" resultType="market">
      	<![CDATA[
      	SELECT * FROM market where mkid=#{mkId} and delyn='N' 
      	]]>     
  	</select>
  	
  	<select id="marketIssue" parameterType="issue" resultType="issue">
      	<![CDATA[
      	SELECT * FROM issue where mkid=#{mkId} and delyn='N' 
      	]]>     
  	</select>
</mapper>