<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notice">
	  <select id="getNoticeList" parameterType="hashmap" resultType="notice">
      <![CDATA[
      SELECT *
      FROM (select rownum rm, notice.* from notice where mkId=${mkId}) notice
      where rm between ${first} and ${end} 
      ]]>
   </select>
   
   <insert id="insertNotice" parameterType="notice" >
   INSERT INTO notice
   (nId, userName, nTitle, nContent, nDate,delYn,mkId)
   VALUES(
   seq_nId.nextval,#{userName},#{nTitle},#{nContent},sysdate,'N',#{mkId}
   )   
   </insert>
   
   <select id="getTotalCount" resultType="int" parameterType="hashmap">
	select count(*) from notice where mkId = ${mkId}
	</select>
	
	<select id="getNotice" resultType="notice" parameterType="notice">
	select * from notice where nid=#{nId}
	</select>
<!-- 	where delyn='N' -->
</mapper>