<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payMapper">

<!-- 	결제 페이지 넘어갈때 select -->
	<select id="paySelect" parameterType="hashmap" resultType="pay">	
		select b.bState as payState, b.bQuantity as payCount, u.mname as userName, u.Maddr as payAddr, u.mtel as payTel, b.bQuantity*p.pprice as payTotal,
			   p.pimg1 as payImg, s.sname as payStoreName, b.bTitle||b.bOption as payContent, b.bTitle as payTitle, b.bPrice as payPrice	
		from buy b inner join product p on b.pid = p.pid inner join store s on s.sid = p.sid inner join users u on b.username = u.username
		where b.bid= #{list}
	</select>
</mapper>