<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<resultMap type="category" id="category">
		<result property="cId" column="CID"/>
		<result property="cName" column="CNAME"/>
	</resultMap>
	
	<select id="selectProduct" parameterType="product" resultType="product">
		select * from product  
	</select>
	
	<select id="searchProduct" parameterType="product" resultType="product">
		select * from product  
			<if test="keyword != null and keyword != '' ">
				where pname like '%'||#{keyword}||'%'
			</if>
	</select>
	
	<select id="storeCategory" resultType="category">
		select * from category
	</select> 
</mapper>
