<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnA">
	  <select id="getQnAList" parameterType="hashmap" resultType="qna">
      <![CDATA[
     SELECT *
      FROM (select rownum rm,qid, username, qcate, qemail, qwriter,qtitle,qdate,qlcontent,qanswer,qawriter,qadate,delyn,mkid from qna) QNA
      where rm between  ${first} and #{end}
      ]]>
   </select>
   
   <insert id="insertQnA" parameterType="qna">
   INSERT INTO QNA
   (qId, userName, qTitle, qlContent, qDate, qCate,delyn)
   VALUES(
   seq_qId.nextval,#{userName},#{qTitle},#{qlContent},sysdate,#{qCate},'N'
   )   
   </insert>
   
   	<select id="getQnA" parameterType="qna" resultType="qna">
		<![CDATA[
		SELECT *
		FROM QNA
		WHERE qId = #{qId}
		]]>
	</select>
	
	<delete id="deleteQnA" parameterType="qna">
		<![CDATA[
		DELETE QNA
		WHERE qId = #{qId}
		]]>
	</delete>
	
	<select id="getTotalCount" resultType="int" parameterType="hashmap">
	select count(*) from qna 
	</select>
<!-- 	where delyn='N' -->
</mapper>
