<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnA">
	  <select id="getQnAList" parameterType="hashmap" resultType="qna">
      <![CDATA[
    SELECT *
      FROM (select rownum rm,q.qid qid, q.username username, q.qcate qcate, q.qemail qemaill, q.qwriter qwriter,q.qtitle qtitle,q.qdate qdate,q.qlcontent qlcontent,
      q.qanswer qanswer,q.qawriter qawriter,q.qadate qadate,q.delyn delyn,q.mkid mkid from (select * from qna  order by qdate desc) q where delyn='N' ) QNA
      where rm between  ${first} and #{end} 
      
      ]]>
   </select>
   
   <insert id="insertQnA" parameterType="qna">
   INSERT INTO QNA
   (qId, userName, qTitle, qlContent, qDate, qCate,delyn,mkid)
   VALUES(
   seq_qId.nextval,#{userName},#{qTitle},#{qlContent},sysdate,#{qCate},'N',#{mkId}
   )   
   </insert>
   
   	<select id="getQnA" parameterType="qna" resultType="qna">
		<![CDATA[
		SELECT *
		FROM QNA
		WHERE qId = #{qId}
		]]>
	</select>
	
	<delete id="deleteQnA" parameterType="qna">
		<![CDATA[
		DELETE QNA
		WHERE qId = #{qId}
		]]>
	</delete>
	
	<select id="getTotalCount" resultType="int" parameterType="hashmap">
	select count(*) from qna 
	</select>
<!-- 	where delyn='N' -->

	<select id="selectUserMarket" parameterType="hashmap" resultType="int">
	select mkid from market where username=#{userName}
	</select>
	
	<update id="updateQA" parameterType="qna">
	update qna set qAnswer=#{qAnswer},qaDate=sysdate,qaWriter=#{qaWriter} 
	where qid=#{qId}
	</update>
</mapper>
